<div class="container">
	<div class="row text-center">
    	<h1>Editing Event</h1>
	</div>

    <%= render 'form' %>

    <div class="row text-center">
    	<%= link_to 'Destroy', @event, method: :delete, data: { confirm: 'Are you sure?' }, class: "lnk dan" %> 
    	<%= link_to 'Back', @event, class: "lnk def" %>
	</div>

</div>
