<div class="container">
  <div class="row">
    <div class="col-md-12">

      <h1>New Event</h1>

      <%= render 'form' %>


      <%= link_to 'Back', events_path, class: "lnk dan" %>

    </div>
  </div>
</div>
