<div class="container">
	<div class="row text-center">
    	<h1>New Event</h1>
	</div>


      <%= render 'form' %>

	<div class="row text-center">
	      <%= link_to 'Back', events_path, class: "lnk dan" %>
	</div>

</div>
