// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#map {
  // display: block;
  height: 400px;
  width: 357px;
}

body{
  // background-color: rgba(240, 122, 62, 0.5);

}

.col-md-4 {
  border-left: 2px solid #EA5455;
  border-right: 2px solid #EA5455;
  border-radius: 7px;
  // background-image: radial-gradient(rgba(240, 122, 62, 0.5), rgba(255, 212, 96, 0) );

}

.middle{
  margin-top: 330px;
  z-index: 10000;
}

.gradient {
  position: absolute;
  background-image:
    -webkit-linear-gradient(
      rgba(0, 0, 0, 0), rgba(45, 64, 89, 1)
  );
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0), rgba(45, 64, 89, 1)
    );
    // overflow:auto;
    width: 97.4%;
    height: 400px;
  -webkit-transition: border .2s ease-in-out;
        -o-transition: border .2s ease-in-out;
           transition: border .2s ease-in-out;
  z-index: 10;
}
.event_image{

  position:absolute;
  width: 97.4%;
  height: 400px;
  // overflow: hidden;
  -webkit-transition: border .2s ease-in-out;
        -o-transition: border .2s ease-in-out;
           transition: border .2s ease-in-out;

z-index: -10;

    // background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url(<%= @event.image.url %>) no-repeat;
    // background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(59%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.65))), url(<%= @event.image.url %>) no-repeat;
    // background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url(<%= @event.image.url %>) no-repeat;
    // background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url(<%= @event.image.url %>) no-repeat;
    // background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url(<%= @event.image.url %>) no-repeat;
    // background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url(<%= @event.image.url %>) no-repeat;
    // height: 494px;
    // width: 620px;


}
