    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>ALL USERS</h2>
                    

                    <table class="user_list">

                        <thead>
                          <tr>
                            <th>Email</th>
                          </tr>
                        </thead>

                        <tbody>
                            <% @users.each do |user| %>
                                <tr>
                                    <td><%= user.email %></td>
                                    <td><%= link_to 'Show', user %></td>
                                </tr>
                            <% end %>

                        </tbody>

                    </table>
                    

                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>