    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>ALL USERS</h2>

                    <table class="user_list">
                        <thead>
                          <tr>
                            <th>Username</th>
                          </tr>
                        </thead>
                        <tbody>
                            <% @users.each do |user| %>
                                <tr>
                                    <td><%= user.username %></td>
                                    <% if user_signed_in? %>
                                        <td><%= link_to 'Show', user, class: "lnk thi" %></td>
                                    <% end %>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>

                </div>

            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
