    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>Fun Finder</h1>
            <h3>Because Fun Is Everywhere</h3>
            <br>
            <a href="#about" class="btn btn-dark btn-lg">Find Fun</a>
        </div>
    </header>