    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
    		<%= image_tag ("funfinder-logo4.png") %>
            <h3>Because Fun Is Everywhere</h3>
            <form action ='/' method='get'>
              <label for="word_search_input">Find Fun:</label>
              <input id="word_search_input" type="text" name="search_string" />
              <input type="submit" value="Search" />
            </form>
            <br>
            <a href="#about" class="btn btn-dark btn-lg">Find Fun</a>
        </div>

    </header>
