    <!-- Map -->
    <section id="contact" class="map">
      <div id="area-search-div">
        <input type="text" id="area-search-bar" placeholder="Enter Your Location"></input>
      </div>

      <div id="front-map"></div>

    </section>
