


    <!-- Map -->
    <section id="contact" class="map">
      
        <input type="text" id="area-search" placeholder="Enter Your Location"></div>

        <div id="front-map"></div>

    </section>
