<!-- STYLES are located in app/assets/stylesheets/users.scss -->


 <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">

            <li class="sidebar-brand">
              <% if user_signed_in? %>
                <%= link_to current_user.username, current_user, :onclick => "closeNav()" %>
              <% end %>
            </li>

                <% if user_signed_in? %>
                  <%= image_tag current_user.image.url(:thumb) %>
                <% else %>
                  <%= image_tag ("funfinder-logo3.png"), class: "logo" %>
                <% end %>
            </li>
              <% if user_signed_in? %>
                <%= link_to 'View My Profile', current_user, :onclick => "closeNav()" %>
              <% end %>
            </li>

<!--             <li>
                <a href="#services" onclick = $("#menu-close").click(); >Services</a>
            </li>
            <li>
                <a href="#portfolio" onclick = $("#menu-close").click(); >Portfolio</a>
            </li>
            <li>
                <a href="#contact" onclick = $("#menu-close").click(); >Contact</a>
            </li> -->

        </ul>
    </nav>

<!-- Custom Theme JavaScript -->
    <script>
    // Closes the sidebar menu
    var closeNav = function(){
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
}

    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    </script>
